[Unit]
Description=Feed NS info

[Service]
User=root
WorkingDirectory=/opt/mqtt-ndov/
ExecStart=/usr/bin/python3 feeder-ns.py
Restart=always

[Install]
WantedBy=multi-user.target
